[package]
name = "pqcrypto-{{ name }}"
description = "Post-Quantum {% if type == "kem" %}Key-Encapsulation Mechanism{% else %}Signature Scheme{% endif %} {{ name }}"
readme = "README.md"
version = "{{ version }}"
authors = ["Thom Wiggers <thom@thomwiggers.nl>"]
edition = "2018"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rustpq/"
repository = "https://github.com/rustpq/pqcrypto/"
keywords = ["cryptography", "post-quantum", "security"]
categories = ["cryptography", "no-std"]

[dependencies]
pqcrypto-internals = { path = "../pqcrypto-internals", version = "0.2" }
pqcrypto-traits = {path = "../pqcrypto-traits", version = "{{ traits_version }}", default-features = false}
libc = "0.2.0"
serde = { version = "1.0", features = ["derive"], optional = true }
serde-big-array = { version = "0.3.2", features = ["const-generics"], optional = true }

[features]
{% if has_avx2 %}
default = ["avx2", "std"]
avx2 = ["std"]
{% else %}
default = ["std"]
{% endif %}
std = ["pqcrypto-traits/std"]
serialization = ["serde", "serde-big-array"]
{% if insecure %}
cryptographically-insecure = []
{% endif %}

[dev-dependencies]
{% if type == "sign" %}
rand = "0.7.0"
{% endif %}

[build-dependencies]
pqcrypto-build = {path = "../pqcrypto-build", version = "0.1"}
cc = { version = "1.0", features = ["parallel"] }
glob = "0.3.0"

[badges]
travis-ci = { repository = "rustpq/pqcrypto", branch = "master" }
maintenance = { status = "actively-developed" }

{% if insecure %}
[package.metadata.docs.rs]
features = ["cryptographically-insecure"]
{% endif %}
