[package]
name = "pqcrypto"
description = "Post-Quantum cryptographic primitives"
version = "{{ version }}"
authors = ["Thom Wiggers <thom@thomwiggers.nl>"]
edition = "2018"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rustpq/"
repository = "https://github.com/rustpq/pqclean/"
keywords = ["cryptography", "post-quantum", "security"]
categories = ["cryptography"]

[dependencies]
pqcrypto-traits = { path = "../pqcrypto-traits", version = "0.2.0" }
{% for (name, props) in kems.items()|list + signs.items()|list %}
pqcrypto-{{ name }} = { path = "../pqcrypto-{{ name }}", version = "{{ props.version }}" }
{% endfor %}
