# Post-Quantum cryptographic algorithms

This project contains Post-Quantum cryptographic algorithms that participate in
the [NIST PQC standardization effort][nistpqc]. It is currently a collection of
wrappers around C implementations from the [PQClean][pqclean] project.

## Insecure algorithms
This crate contains optional support for insecure algorithms. They can be enabled via the
``cryptographically-insecure`` flag.

This crate also contains algorithms that have non-constant time implementations.
Always check the relevant algorithms for their security details.

## Included algorithms
This super-crate contains the following cryptographic algorithms:

## Key-Encapsulation Mechanisms

{% for (name, props) in kems.items()|list %}
* [``pqcrypto-{{ name }}``](https://crates.io/crates/pqcrypto-{{name}}) {% if props.insecure|default(False) %}(insecure, disabled by default){% endif %}
{% endfor %}

## Signature Schemes
{% for (name, props) in signs.items()|list %}
* [``pqcrypto-{{ name }}``](https://crates.io/crates/pqcrypto-{{name}}) {% if props.insecure|default(False) %}(insecure, disabled by default){% endif %}
{% endfor %}

## License

The wrappers and wrapper generation scripts in this project are covered by the
MIT or Apache 2.0 licenses, at your choice.

The implementations we link to are not, however. Please see the [PQClean][pqclean]
project for the appropriate licenses.


[pqclean]: https://github.com/PQClean/PQClean/
[nistpqc]: https://nist.gov/pqc/
