[package]
name = "pqcrypto"
description = "Post-Quantum cryptographic primitives"
readme = "README.md"
version = "0.14.1"
authors = ["Thom Wiggers <thom@thomwiggers.nl>"]
edition = "2018"
license = "MIT OR Apache-2.0"
homepage = "https://github.com/rustpq/"
repository = "https://github.com/rustpq/pqcrypto/"
keywords = ["cryptography", "post-quantum", "security"]
categories = ["cryptography"]

[dependencies]
pqcrypto-traits = { path = "../pqcrypto-traits", version = "0.3.2" }
pqcrypto-kyber = { path = "../pqcrypto-kyber", version = "0.7.2", optional = true }
pqcrypto-frodo = { path = "../pqcrypto-frodo", version = "0.4.8", optional = true }
pqcrypto-ntru = { path = "../pqcrypto-ntru", version = "0.5.5", optional = true }
pqcrypto-ntruprime = { path = "../pqcrypto-ntruprime", version = "0.1.2", optional = true }
pqcrypto-saber = { path = "../pqcrypto-saber", version = "0.1.8", optional = true }
pqcrypto-classicmceliece = { path = "../pqcrypto-classicmceliece", version = "0.1.4", optional = true }
pqcrypto-hqc = { path = "../pqcrypto-hqc", version = "0.1.2", optional = true }
pqcrypto-dilithium = { path = "../pqcrypto-dilithium", version = "0.4.2", optional = true }
pqcrypto-falcon = { path = "../pqcrypto-falcon", version = "0.2.7", optional = true }
pqcrypto-rainbow = { path = "../pqcrypto-rainbow", version = "0.2.2", optional = true }
pqcrypto-sphincsplus = { path = "../pqcrypto-sphincsplus", version = "0.6.1", optional = true }

[features]
default = ["pqcrypto-kyber","pqcrypto-frodo","pqcrypto-ntru","pqcrypto-ntruprime","pqcrypto-saber","pqcrypto-classicmceliece","pqcrypto-hqc","pqcrypto-dilithium","pqcrypto-falcon","pqcrypto-rainbow","pqcrypto-sphincsplus",]
cryptographically-insecure = []
serialization = ["pqcrypto-kyber/serialization","pqcrypto-frodo/serialization","pqcrypto-ntru/serialization","pqcrypto-ntruprime/serialization","pqcrypto-saber/serialization","pqcrypto-classicmceliece/serialization","pqcrypto-hqc/serialization","pqcrypto-dilithium/serialization","pqcrypto-falcon/serialization","pqcrypto-rainbow/serialization","pqcrypto-sphincsplus/serialization",]

[badges]
travis-ci = { repository = "rustpq/pqcrypto", branch = "master" }
maintenance = { status = "actively-developed" }

[package.metadata.docs.rs]
all-features = true